@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Permanent+Marker&display=swap');

:root{
    background-color: rgba(53, 8, 82, 0.877);
    color: rgb(255, 255, 255);
}

body{
    background-color: var(-cor-de-fundo);
    color: var(texo);
    font-family: 'Jacquard 12', sans-serif;
}
 
.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.conteudo-principal {
    text-align: left;
    width: 100%;
    font-size: 40px;
}
